<link rel="stylesheet" href="/src/static/css/forgotPassword.css">
<div class="password-forgot">
    <h1>Password reset request</h1>
    <p>You have requested a password reset. If it was not you, please ignore this letter.</p>
</div>
